@charset "utf-8";
/* CSS for calculator.html and calculate.php */
body {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    color: #6a6a6a;
}
h2.headings {
    font-family: 'Roboto Condensed', sans-serif; font-size: 1.3em;
    background-color: #FFFFFF;
    color: #367ced;
}
.formsmall {
    width: 250px;
    font-family: Segoe UI, Arial, Verdana;
    font-size: 16px;
    color: #000000;
    border: 1px;
    background-color: #FFFFFF;
    margin: 2px;
}
.results {
    width: 100%;
    font-family: Verdana;
    font-size: 16px;
    color: #000000;
    border: 1px;
    background-color: #E8E8E8;
    padding: 10px;
}
/* BUTTON STYLES */
#calc_button {
    width: 125px;
}
